.container {
  display: flex;
  justify-content: center;
}

.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}

.text {
  color: rgba(240, 21, 21, 0.849);
  background-color: saddlebrown;
  text-decoration-color: seagreen;
}
