body {
  /* background-color: whitesmoke; */
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flexboxcontainer {
  display: flex;
  flex-direction: row;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
  .flexboxcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.appbar {
  margin-right: auto;
}
